<!-- product-info.component.html -->
<div class="container">
    <div class="row">
      <div class="col-lg-12" *ngIf="product">
        <div class="card" style="width:600px;">
          <img class="card-img-top" [src]="product.imgsrc" alt="Card image" style="width:100%; margin-top: 5px;">
          <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><b>Price: ₹{{ product.price }}/- </b></p>
            <!-- Add more details as needed -->
  
            <!-- Include additional product information here -->
  
            <p align="right">
              <a routerLink="/products" class="btn btn-secondary">Back to Products</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>