<div>
    
    <!--
    <app-test2></app-test2>

-->
<!-- <app-test></app-test> -->
<!-- <app-login></app-login> -->
<!-- <app-showempbyid></app-showempbyid> -->
<!-- <app-register></app-register> -->
<!-- <app-show-employees></app-show-employees> -->
<!-- <app-products></app-products>     -->
<app-header></app-header>
<br>

<br>
<router-outlet></router-outlet>
</div>