<p>test works!</p>
<div>
    id:{{id}} <br>
name:{{name}}<br>
age:{{age}}<br>
<br>
<b><u>Address</u></b><br>
streetNo:{{address.streetNo}}<br>
city:{{address.city}}<br>
State:{{address.State}}<br>
<br>
<b><u>Hobbies</u></b><br>
    <ul>
        <li *ngFor="let hobby of hobbies">{{hobby}}</li>
    </ul>

</div>

